---
import { Image } from "astro:assets";
import enlaces from "../enlaces.json";
import LogoNeovim from "./LogoNeovim.astro";
const { pathname } = Astro.url;
---

<sidebar-element>
    <div class="sidebar__bg__container">
        <aside class="sidebar__container">
            <div class="sidebar__items">
                <div class="sidebar__close">
                    <button
                        aria-label="Cerrar la barra lateral"
                        class="sidebar__close__button"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-x"
                        >
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div id="logo" class="sidebar__logo">
                    <a href="/" aria-label="Ir a la página principal">
                        <svg role="img" aria-label="Logo" title="guia-neovim-logo">
                            <use href="/LogoVertical.svg#guia-neovim-logo"></use>
                        </svg>
                    </a>
                </div>
                <div class="sidebar__links">
                    {
                        enlaces.map((enlace) => {
                            if (enlace.hijos.length > 0) {
                                return (
                                    <details class="sidebar__details">
                                        <summary class="sidebar__summary">
                                            <a
                                                class={`sidebar__summary-item ${
                                                    pathname ===
                                                        `${enlace.ruta}` &&
                                                    "activo"
                                                }`}
                                                aria-label={enlace.titulo}
                                            >
                                                <Image
                                                    src={enlace.icono}
                                                    alt=""
                                                    width={24}
                                                    height={24}
                                                />
                                                {enlace.titulo}
                                            </a>
                                        </summary>
                                        <div class="sidebar__child-list">
                                            {enlace.hijos.map((hijo) => (
                                                <a
                                                    class={`sidebar__child-item ${pathname === `${hijo.ruta}` && "activo"}`}
                                                    href={`${hijo.ruta}`}
                                                >
                                                    {hijo.titulo}
                                                </a>
                                            ))}
                                        </div>
                                    </details>
                                );
                            } else {
                                return (
                                    <a
                                        href={`${enlace.ruta}`}
                                        class={`sidebar__link-item ${pathname === `${enlace.ruta}` && "activo"}`}
                                    >
                                        <Image
                                            class="sidebar__link-item-icon"
                                            src={enlace.icono}
                                            alt=""
                                            width={24}
                                            height={24}
                                        />
                                        {enlace.titulo}
                                    </a>
                                );
                            }
                        })
                    }
                </div>
            </div>
        </aside>
    </div>
</sidebar-element>
<style>
    :root {
        &[theme="light"] {
            --sidebar-item-bg: hsl(247, 55%, 55%);
            --sidebar-item-bg-hover: hsl(247, 75%, 25%);
            --sidebar-item-bg-active: hsl(247, 75%, 75%);
        }

        &[theme="dark"] {
            --sidebar-item-bg: hsl(247, 75%, 25%);
            --sidebar-item-bg-hover: hsl(247, 75%, 65%);
            --sidebar-item-bg-active: hsl(247, 75%, 55%);
        }
    }

    * {
        list-style-type: none;
        padding-left: 0;
        z-index: 5;
        user-select: none;
        font-size: 1.05rem;

        & > a {
            color: inherit !important;

            &:hover {
                text-shadow: none;
            }
        }
    }

    .sidebar__bg__container {
        width: 100%;
        height: 100dvh;
        position: fixed;
        backdrop-filter: blur(1em);
        background-color: #0006;
        display: none;
        transition:
            display 0.35s ease-in-out allow-discrete,
            opacity 0.15s ease-in-out allow-discrete;
        opacity: 0;

        &.show {
            opacity: 1;
            display: block;
        }
    }

    @starting-style {
        .sidebar__bg__container.show {
            opacity: 0;
        }
    }

    .sidebar__container {
        display: flex;
        position: fixed;
        transition: transform 0.2s ease-in;
        top: 0;
        left: 0;
        z-index: 10;
        inset: 0;
        border: 1px solid light-dark(var(--light-fga), var(--dark-fga));
        width: fit-content;
        margin: 0.5rem;
        border-radius: 1rem;
        transform: translateX(-110%);

        &.open {
            transform: translateX(0%);
            transition: transform 0.15s ease-out;
        }
    }

    @starting-style {
        .sidebar__container.open {
            transform: translateX(-110%);
        }
    }

    .sidebar__close {
        align-self: flex-end;
    }

    .sidebar__links {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #eee;
    }

    .sidebar__close__button {
        width: 36px;
        height: 36px;
        cursor: pointer;
        outline: none;
        padding: 0;
        border: 1px solid light-dark(var(--light-fga), var(--dark-fga));
        border-radius: 0.5rem;
        background-color: light-dark(var(--light-bga), var(--dark-bga));
        transition: all 0.2s ease-in-out;
        color: light-dark(var(--light-fg), var(--dark-fg));
        display: grid;
        place-items: center;

        &:hover {
            box-shadow:
                inset 0 0 0.5rem light-dark(var(--light-fga), var(--dark-fga)),
                0 0 0.5rem light-dark(var(--light-fga), var(--dark-fga));
        }
    }

    .sidebar__logo {
        display: flex;
        justify-content: center;
    }

    .sidebar__items {
        display: flex;
        flex-direction: column;
        padding: 2em;
        box-shadow: 0 0 2em #0006;
        width: var(--sidebar-width);
        backdrop-filter: blur(1em);
        overflow-y: auto;
        border-radius: 1rem;
        scrollbar-color: light-dark(var(--light-fga), var(--dark-fga))
            transparent;

        > ul {
            border-top: 1px #666 solid;
            > li,
            > li > ul > li {
            }

            > li::before {
                content: "";
            }

            > li > a {
                width: 100%;
            }

            > li > ul {
                padding-left: 1.25em;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: light-dark(var(--light-fga), var(--dark-fga));
            border-radius: 0.5rem;
        }
    }

    .sidebar__link-item {
        background-color: var(--sidebar-item-bg);
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        &:hover {
            background-color: var(--sidebar-item-bg-hover);
            padding-left: 1.5rem;
        }

        &.activo {
            font-weight: 900;
            border-left: 0.3rem #66e solid;
        }
    }

    .sidebar__link-item-icon {
        margin-right: 0.5rem;
    }

    .sidebar__summary-item {
        background-color: var(--sidebar-item-bg);
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        &:hover {
            background-color: var(--sidebar-item-bg-hover);
        }
    }

    .sidebar__details {
        &[open] .sidebar__summary {
            &::after {
                transform: rotate(0deg) translateY(0.25em);
            }
        }

        &[open] .sidebar__summary-item {
            background-color: var(--sidebar-item-bg-active) !important;
        }
    }

    .sidebar__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: url("/icons/chevron.svg");
            transform: rotate(-90deg);
            transition: all 0.25s ease-in-out;
            display: block;
            position: absolute;
            z-index: 5;
            right: 3rem;

            @media (prefers-color-scheme: dark) {
                filter: invert(1);
            }
        }

        & .sidebar__details[open] {
            background-color: #aa0 !important;
        }
    }

    .sidebar__child-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    .sidebar__child-item {
        padding: 0.5rem 0 0.5rem 2rem;
        width: 100%;
        background-color: #114;
        transition: all 0.25s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--sidebar-item-bg-hover);
            padding-left: 2.5rem;
        }

        &.activo {
            font-weight: 900;
            border-left: 0.3rem #66e solid;
        }
    }

    .sidebar__child-link {
        width: 100%;
    }
</style>

<script>
    class Sidebar extends HTMLElement {
        constructor() {
            super();
            const html = document.querySelector("html");
            const closeBtn = this.querySelector(".sidebar__close__button");
            const sidebarBgContainer = this.querySelector(
                ".sidebar__bg__container",
            );
            const sidebarContainer = this.querySelector(".sidebar__container");

            closeBtn.addEventListener("click", () => {
                sidebarBgContainer.classList.remove("show");
                sidebarContainer.classList.remove("open");
                html.style.removeProperty("overflow-y");
            });
        }
    }
    customElements.define("sidebar-element", Sidebar);
</script>
