---
import enlaces from "../enlaces.json";
import LogoNeovim from "./LogoNeovim.astro";
const { pathname } = Astro.url;
---

<aside class="sidebar-container">
    <input id="sidebar-toggle" type="checkbox" />
    <div id="sidebar-items">
        <div id="logo">
            <a href="/guia-neovim/">
                <LogoNeovim />
            </a>
        </div>
        <ul class="sidebar-links">
            {
                enlaces.map((enlace) => {
                    if (enlace.hijos.length > 0) {
                        return (
                            <details class="sidebar-details">
                                <summary class="sidebar-summary">
                                    <li
                                        class={`sidebar-link-item ${
                                            pathname ===
                                                `/guia-neovim${enlace.ruta}` &&
                                            "activo"
                                        }`}
                                    >
                                        <a href={`/guia-neovim${enlace.ruta}`}>
                                            {enlace.titulo}
                                        </a>
                                    </li>
                                </summary>
                                <ul>
                                    {enlace.hijos.map((hijo) => (
                                        <li
                                            class={
                                                `/guia-neovim${hijo.ruta}` ===
                                                    pathname && "activo"
                                            }
                                        >
                                            <a
                                                href={`/guia-neovim${hijo.ruta}`}
                                            >
                                                {hijo.titulo}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            </details>
                        );
                    } else {
                        return (
                            <li
                                class={`sidebar-link-item ${
                                    pathname === `/guia-neovim${enlace.ruta}` &&
                                    "activo"
                                }`}
                            >
                                <a href={`/guia-neovim${enlace.ruta}`}>
                                    {enlace.titulo}
                                </a>
                            </li>
                        );
                    }
                })
            }
        </ul>
    </div>
</aside>
<style>
    * {
        list-style-type: none;
        padding-left: 0;
        z-index: 5;
        user-select: none;
    }

    a {
        color: inherit !important;
    }

    .sidebar {
        border: 1px #666 solid;
        border-radius: 1em;
    }

    .sidebar-links {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .sidebar-link-item {
        background-color: hsl(247, 75%, 25%);
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
            background-color: hsl(247, 75%, 45%);
        }
    }

    #sidebar-items {
        display: flex;
        flex-direction: column;
        padding: 2em;
        box-shadow: 0 0 2em #0006;
        width: var(--sidebar-width);
        backdrop-filter: blur(1em);

        > ul {
            border-top: 1px #666 solid;
            > li,
            > li > ul > li {
            }

            > li::before {
                content: "";
            }

            > li > a {
                width: 100%;
            }

            > li > ul {
                padding-left: 1.25em;
            }
        }

        > ul li.activo {
            font-weight: 900;
        }
    }

    .sidebar-container {
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        top: 0;
        left: -22.5em;
        height: 100dvh;
        transition: all 0.35s ease-in-out;

        &.open {
            left: 0;

            ~ #post {
                transform: translateX(calc(var(--sidebar-width) + 2em));
                width: calc(100% - (var(--sidebar-width) + 2em));
            }
        }
    }

    #sidebar-toggle {
        width: 8px;
        height: 8px;
        appearance: none;
        background-color: var(--dark-bg);
        border: 1px #666 solid;
        border-radius: 1em;
        cursor: pointer;
        display: grid;
        place-content: center;
        padding: 1.5rem;
        margin: 1rem;

        &::before {
            width: 36px;
            height: 36px;
            content: "";
            background-color: white;
            transform-origin: center;
            clip-path: polygon(
                14% 44%,
                0 65%,
                50% 100%,
                100% 16%,
                80% 0%,
                43% 62%
            );
            transform: scale(0);
            transition: all 0.1s ease-in-out;
        }

        &:checked::before {
            transform: scale(1);
        }
    }
</style>
<script is:inline>
    const handleNavBar = () => {
        const checkBtn = document.querySelector("#sidebar-toggle");
        const aside = document.querySelector("aside");
        checkBtn.addEventListener("click", () => {
            aside.classList.toggle("open");
        });
    };

    document.addEventListener(
        "astro:page-load",
        () => {
            handleNavBar();
        },
        { once: true },
    );

    document.addEventListener("astro:after-swap", () => {
        handleNavBar();
    });
</script>
